<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- CSS Style -->
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" media="screen"/>

    <style>
      .up, .down, .det  { cursor: pointer; }
      .up:after         { content: '△'; transform:translate(100px,100px);}
      .up:hover:after   { content: '▲'; }
      .down:after       { content: '▽'; }
      .down:hover:after { content: '▼'; }

    </style>
    
    <!-- FONT -->
    <link href="https://fonts.googleapis.com/css?family=Spartan:400,600,700&display=swap" rel="stylesheet">

    <title>Ferdi's website</title>
  </head>
  <body>
    <div id="welcome">
        <div class="row one" style="margin-top:5%;">
          <div class="col-md-12">
            <h1 class="text" id="top">Hello,<br>It's me Mario!</h1>
            <div class="text" id="bottom">It's actually Ferdi.</div>
          </div>
        </div>
        <div class="row one" style="margin-top:7%;">
          <div class="col-md-12" id="detail">
            <h2 class="text">Information about me:</h2>
            <div id="det">
                <div id="accordion">
                    <div class="row about">
                      <div class="col-md-8">
                        <h1 id="about" class="title">About</h1>
                        <div class="more">
                          <p>
                            I'm a Computer Science student in University of Indonesia and currently on my 2nd year.
                            I'm an out of the box and a quick thinker, usually when there's a problem I think of a way
                            that nobody else think of. 
                          </p>
                        </div>
                      </div>
                      <div class="col-md-4 move">
                        <span class="up"></span>
                        <span class="down"></span>
                      </div>
                    </div>
        
                    <div class="row skills">
                      <div class="col-md-8">
                        <h1 id="skills" class="title">Skills</h1>
                        <div class="more">
                          <ul style="margin-left: 20px;">
                            <li>Java</li>
                            <li>Python</li>
                            <li>HTML</li>
                            <li>CSS</li>
                            <li>JavaScript</li>
                          </ul>
                        </div>
                      </div>
                      <div class="col-md-4 move">
                        <span class="up"></span>
                        <span class="down"></span>
                      </div>
                    </div>
        
                    <div class="row education">
                      <div class="col-md-8">
                        <h1 id="education" class="title">Education</h1>
                        <div class="more">
                          <ul style="margin-left: 20px;">
                            <li>SMA 34 Jakarta (2015 - 2018)</li>
                            <li>Faculty of Computer Science, University of Science (2018 - Present)</li>
                          </ul>
                        </div>
                      </div>
                      <div class="col-md-4 move">
                        <span class="up"></span>
                        <span class="down"></span>
                      </div>
                    </div>
        
                    <div class="row experience">
                      <div class="col-md-8">
                        <h1 id="experience" class="title">Experience</h1>
                        <div class="more">
                          <ul style="margin-left: 20px;">
                            <li>Vice Project Officer of Pesta Rakyat Komputer (PERAK)</li>
                            <li>Introduction to Digital System Teaching Assistant</li>
                            <li>Human Resources of Travel and Venue of COMPFEST12</li>
                          </ul>
                        </div>
                      </div>
                      <div class="col-md-4 move">
                        <span class="up"></span>
                        <span class="down"></span>
                      </div>
                    </div>
                </div>       
            </div>
          </div>
        </div>
    </div>  

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"   integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30="   crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <script>
        jQuery('.move').children().click(function (e) {
            var $div = $(this).closest('.row');
            if (jQuery(e.target).is('.down')) {
                $div.next('.row').after($div);
            } else {
                $div.prev('.row').before($div);
            }
        });
        $(document).ready(function() {
            var accordion = $("#accordion .row .col-md-8");
            accordion.accordion({
                active: false,
                collapsible :true,
                // animate : 300
            });
        });
      </script>  
  
  </body>
</html>
