* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-image: linear-gradient(to left ,#0f8faf,#063b5a);
}
#welcome{
    margin-left: 10vw;
    font-family: 'Roboto';
}
#welcome .text {
    margin-top: 0;
    max-width: 50vw;
    font-size: 150%;
    color: #dbe7f3;
}
#welcome .text#top {
    font-size: 400%;
    font-weight: bold;
}

#welcome .text#bottom {
    color: #dbe7f3;
    margin-top: 0vh;
    font-size: 200%;
}

#welcome .row.one #detail {
    font-family: 'Spartan';
    font-size: 15px;
}

#welcome .row.one #detail #accordion {
    max-height: 38vh;
    overflow-y: scroll;
    margin-bottom: 17%;
}

#welcome .row.one #detail h1{
    padding: 15px;
    padding-left: 20px;
    margin-bottom: 10px;
    max-width: 500px;

    background-color: #052c50;
    border-radius: 10px;
    box-shadow: 3px 3px 3px 0 rgba(17, 80, 161, 0.2);
    
    font-size: 18px;
    
    color: rgb(255, 255, 255);
}

#welcome .row.one #detail .move{
    padding: 15px;
    margin-bottom: 10px;
    max-width: 500px;
    
    font-size: 18px;
}

#welcome .row.one #detail .more {
    color: rgb(255, 255, 255);
    padding: 15px;
    padding-top: 0px;
    padding-left: 20px;
    margin-bottom: 10px;
    max-width: 500px;

    font-size: 14px;
}

.row .col-md-8 {
    margin-bottom: 1vh;
}


#welcome .row.one #detail h1:hover{
    background-color: #ffffff;
    box-shadow: inset 3px 3px 3px 0 rgba(15, 76, 126, 0.2);

    color: #052c50;
}
